In [1]:
import pandas as pd

In [2]:
path = '../data/traffic.csv'

In [3]:
traffic_data = pd.read_csv(path)

In [4]:
traffic_data

                date            device    value
0    21.12.2021 0:00  Cisco 5300 port1  161.152
1    21.12.2021 1:00  Cisco 5300 port1  145.459
2    21.12.2021 2:00  Cisco 5300 port1  133.040
3    21.12.2021 3:00  Cisco 5300 port1  507.856
4    21.12.2021 4:00  Cisco 5300 port1  109.670
5    21.12.2021 5:00  Cisco 5300 port1  125.773
6    21.12.2021 6:00  Cisco 5300 port1  157.216
7    21.12.2021 7:00  Cisco 5300 port1  278.470
8    21.12.2021 8:00  Cisco 5300 port1  374.787
9    21.12.2021 9:00  Cisco 5300 port1  368.768
10  21.12.2021 10:00  Cisco 5300 port1  413.117

In [15]:
# Группируем по устройству
groupby = traffic_data.groupby('device')

# Для каждого устройства отдельная проверка
for device in groupby.groups:
    for w in groupby.get_group(device).rolling(window=2):
        if len(w) == 1:
            continue
        _, _, v1 = w.iloc[0]
        ts, _, v2 = w.iloc[1]
        # Проверяем, что значение в диапозоне (0.9 * v1, 1.3 * v1)
        if 0.9 * v1 > v2:
            print(f'ALERT: {ts}, device: {device}, value: {v2}, Трафик ниже нормы')
        elif  v2 > v1 * 1.3:
            print(f'ALERT: {ts}, device: {device}, value: {v2}, Трафик выше нормы')

ALERT: 21.12.2021 3:00, device: Cisco 5300 port1, value: 507.856, Трафик выше нормы
ALERT: 21.12.2021 4:00, device: Cisco 5300 port1, value: 109.67, Трафик ниже нормы
ALERT: 21.12.2021 7:00, device: Cisco 5300 port1, value: 278.47, Трафик выше нормы
ALERT: 21.12.2021 8:00, device: Cisco 5300 port1, value: 374.787, Трафик выше нормы